[Unit]
Description=mirror update for repo servers
After=syslog.target network.target
Wants=network.target

[Service]
ExecStart=/usr/bin/update_mirror.py
[Install]
WantedBy=multi-user.target
