[Unit]
Description=Update all mash repos
After=syslog.target network.target
Wants=network.target

[Service]
ExecStart=/usr/bin/update_all_repos.sh

[Install]
WantedBy=multi-user.target
