[Unit]
Description=Update all .mash files
After=syslog.target network.target
Wants=network.target

[Service]
ExecStart=/usr/bin/update_mashfiles.sh

[Install]
WantedBy=multi-user.target
